mat-sidenav-container,
mat-sidenav-content,
mat-sidenav {
  height: 100%;
  background-color: transparent;

}

mat-sidenav {
  width: 250px;
  background-color: transparent;
}

main {
  height: 90%;
  width: 100%;
  padding: 0;
  margin: 0;
}
