<!-- <div class="chart-container">
<div class="column-chart">
  <ul class="plot-container">
    <li *ngFor="let planet of planets" [attr.data-cp-size]="planet.populationPercentage">{{planet.name}} : {{planet.population}}</li>
  </ul>
</div>

</div> -->


<div id="bar-chart">
  <div class="graph">
    <ul class="x-axis">
      <li *ngFor="let name of planetsNames"><span class="head-lines">{{name}}</span></li>
    </ul>
    <div class="bars">
      <div *ngFor="let planet of planets" class="bar-group">
        <div class="bar bar-2 stat" [ngStyle]="{'height':planet.populationPercentage+'%'}">
          <span>5680</span>
        </div>
      </div>
      <!-- <div class="bar-group">
        <div class="bar bar-5 stat" style="height: 86%;">
          <span>6880</span>
        </div>

      </div>
      <div class="bar-group">

        <div class="bar bar-8 stat" style="height: 72%;">
          <span>5760</span>
        </div>
      </div>
      <div class="bar-group">
        <div class="bar bar-11 stat" style="height: 64%;">
          <span>5120</span>
        </div>
      </div>
      <div class="bar-group">
        <div class="bar bar-14 stat" style="height: 33%;">
          <span>2640</span>
        </div>
      </div> -->
    </div>
  </div>
</div>