<div class="table-container">
  <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">

    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
      <td mat-cell *matCellDef="let vehicle"> {{vehicle.name}} </td>
    </ng-container>
    <!-- Sum of population Column -->
    <ng-container matColumnDef="populationSum">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Sum of Population </th>
      <td mat-cell *matCellDef="let vehicle"> {{vehicle.populationSum}} </td>
    </ng-container>

    <!-- Planets Populations Column -->
    <ng-container matColumnDef="planets">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Planets Populations </th>
      <td mat-cell *matCellDef="let vehicle">
        <div *ngFor="let planet of vehicle.planets">
          {{planet.name}} : {{planet.population}}
        </div>
      </td>
    </ng-container>

    <!-- Pilots Column -->
    <ng-container matColumnDef="pilots">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Pilots </th>
      <td mat-cell *matCellDef="let vehicle">
        <div *ngFor="let pilot of vehicle.pilots">
          {{pilot}}
        </div>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns;"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
</div>